version: '3.8'

services: 
  redis:
    image: redislabs/redismod
    volumes:
      - redis-data:/data
    container_name: redis
    ports:
      - '6379:6379'

  flask:
    build: .
    ports: 
      - "5001:5001"
    depends_on:
      - redis

volumes:
  redis-data: